<!doctype html>
<title>{{site_title}}</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
<article>
<h1>Oops! 500 Internal Server Error</h1>
<div>
<p>There seems to be a problem on our side. We've been notified and will fix!</p>

<p>&mdash; Meanwhile,  <a href="{{url_for('home')}}"> click here </a>  to go back to home page! </p>
</div>
</article>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v64f9daad31f64f81be21cbef6184a5e31634941392597" integrity="sha512-gV/bogrUTVP2N3IzTDKzgP0Js1gg4fbwtYB6ftgLbKQu/V8yH2+lrKCfKHelh4SO3DPzKj4/glTO+tNJGDnb0A==" data-cf-beacon='{"rayId":"6bcdc8e87ed0d739","version":"2021.11.0","r":1,"token":"77c8d827258c4e3ab1a1a30a8b764997","si":100}' crossorigin="anonymous"></script>
