<!doctype html>
<title>{{site_title}}</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
<article>
<h1>{{site_title}}</h1>
<div>
<p>This is a simple program to create a big database. You can use such a database of junk data to do tests instead of using live data. You can practice a lot like restores,
backups, disk expansion etc using such data. </p>
<p>The best thing about this populator is that it's FREE! You can simply pull it from <a href="https://gitlab.com/wwmwabini/dbpopulator/"> Gitlab </a> or pull the <a href="https://hub.docker.com/r/wwmwabini/dbpopulator"> Docker Image</a> and create your own huge MySQL database by tweaking a few environment variables. And depending on what hardware you have, you can create a 100GB database within minutes!</p>
<p>Currently, on my sample, there are the following numbers of fake records:
<p>Authors: &mdash; {{no_of_authors}} <br>
   Posts: &mdash; {{no_of_articles}}</p>
</div>
</article>